@using ThesisSite.ViewModel.Course
@using ThesisSite.Domain.Helpers
@{
    ViewData["Title"] = "CourseGroups";
}

@model CourseGroupsViewModel
<h2>@Model.Name - groups</h2>

<div class="list-group">
    @foreach (var item in Model.Groups)
    {
        <div class="container-fluid list-group-item">
            <div class="row">
                <div class="col-md-12">
                    <p>@item.Name</p>
                    <p>Enrolled @item.StudentCount of @item.Limit </p>
                </div>
                <div class="col-md-4">
                    @if (User.IsInRole(ApplicationRoles.Admin))
                    {
                        <a asp-action="ListStudents" asp-controller="Groups" asp-route-groupId="@item.ID" class="btn btn-primary">Details</a>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a asp-action="ListStudents" asp-controller="Groups" asp-route-groupId="@item.ID" class="btn">Delete student</a>
                                </li>
                                <li>
                                    <a asp-action="AddStudent" asp-controller="Groups" asp-route-groupId="@item.ID" class="btn">Add student</a>
                                </li>
                            </ul>
                        </div>                 
                        <a asp-action="Create" asp-controller="Assignments" asp-route-groupId="@item.ID" class="btn btn-default">Add assignment</a>

                        @*<a asp-action="Delete" asp-controller="Groups" asp-route-groupId="@item.ID" asp-route-courseId="@Model.CourseId" class="btn btn-danger">Delete</a>*@
                    }
                    @if (User.IsInRole(ApplicationRoles.Student))
                    {
                        if (item.CanEnroll)
                        {
                            <a asp-action="Enroll" asp-controller="Groups" asp-route-groupId="@item.ID" class="btn btn-primary">Enroll</a>
                        }
                        <a class="btn btn-default">Assignments</a>
                    }
                </div>

            </div>
        </div>

    }
</div>
