@using ThesisSite.Domain.Helpers
@model ThesisSite.Domain.Course

@{
    ViewData["Title"] = "Details";
}

@*<div class="container-fluid">

    </div>*@
<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <h4>Description</h4>
        <p class="text-left">@Model.Description</p>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            @if (User.IsInRole(ApplicationRoles.Admin))
            {
                <a asp-action="Edit" asp-route-id="@Model.ID" class="list-group-item list-group-item-action">Edit course</a>
                <a asp-area="" asp-action="Create" asp-controller="Groups" asp-route-courseID="@Model.ID" class="list-group-item list-group-item-action">Create group</a>
                <a asp-area="" asp-action="CourseGroups" asp-controller="Groups" asp-route-courseID="@Model.ID" class="list-group-item list-group-item-action">Manage groups</a>
            }
            @if (User.IsInRole(ApplicationRoles.Student))
            {
                <a asp-area="" asp-action="CourseGroups" asp-controller="Groups" asp-route-courseID="@Model.ID" class="list-group-item list-group-item-action">Groups</a>
            }
        </div>
    </div>
</div>
<div>
    @*@if (User.IsInRole(ApplicationRoles.Admin))
        {
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit course</a>
            <a asp-area="" asp-action="Create" asp-controller="Groups">Create group</a>
            <a asp-area="" asp-action="CourseGroups" asp-controller="Groups" asp-route-courseID="@Model.ID">Manage groups</a>
        }*@
    <a asp-action="Index">Back to List</a>
</div>
