@using ThesisSite.Domain.Helpers
@model ThesisSite.Domain.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(ApplicationRoles.Admin))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit course</a>
        <a asp-area="" asp-action="Create" asp-controller="Groups">Create group</a>
        <a asp-area="" asp-action="CourseGroups" asp-controller="Groups" asp-route-courseID="@Model.ID">Manage groups</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
