@model ThesisSite.Domain.GroupEnrollment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupEnrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
